
// Common - Base
//------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-arial;
  font-size: $font-size;
  line-height: $font-line-height;
  background-color: $color-grey;
}

a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-red;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, ul, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}